
---
layout: ""
page_title: "Honeybadger: honeybadger_team"
description: |-
  Creates and manages teams within your Honeybadger organization
---

# honeybadger_team (Resource)

This resource allows you to create and manage teams within your Honeybadger organization.


## Example Usage

{{tffile "examples/resources/team.tf"}}

{{ .SchemaMarkdown | trimspace }}


# Import

Repositories can be imported using the team id, e.g.

```
$ terraform import honeybadger_team.new_team 1234
```
