---
layout: ""
page_title: "Provider: Honeybadger"
description: |-
  The Honeybadger provider allows you to interact with the Honeybadger API.
---

# Honeybadger Provider

The Honeybadger provider is used to interact with [Honeybadger.io](https://honeybadger.io) resources, and is maintained by a small team within [Sequra](https://www.sequra.es)

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

